// Utilities
@use 'utilities' as *;

// ****************************************

// About Area Style .
#About_area {
  .about_img {
    flex-basis: 50%;
    padding: 10px;
  }
  .about_details {
    flex-basis: 50%;
    padding: 2%;
    h2 {
      margin: 10px 0;
      font: {
        size: 29px;
      }
    }
    h6 {
      text-transform: uppercase;
    }
    p {
      margin: 10px 0;
    }
  }
}
