// Utilities
@use 'utilities' as *;

// ************************************************************

// Portfolio Area Style

#portfolio_area {
  .portfolio_title {
    margin: 20px auto;
    .title {
      text-transform: uppercase;
      word-spacing: 4px;
    }
    .btn-cta {
      display: inline-block;
      text-align: center;
      background: $dribbleColor;
      color: white;
      border: 1px solid $dribbleColor;
      white-space: nowrap;
      font: {
        size: 14px;
      }
      &:hover {
        background: transparent;
        color: $dribbleColor;
      }
    }
  }
  .inner_grid {
    grid-template-columns: repeat(3, 330px);
    gap: 20px;
  }
  .child_cards_portfolio {
    box-shadow: $boxShadow;
    border-radius: 10px;
    transition: 0.6s;
    .details_portfolio {
      padding: 10px;
      h2 {
        text-transform: uppercase;
      }
      p {
        margin: 10px;
      }
      .btn-cta3 {
        border-bottom: 2px solid $primaryColor;
        white-space: nowrap;
        text-decoration: none;
        padding: 10px 0px;
        margin-top: 10px;
        font: {
          size: 16px;
          weight: 700;
        }
      }
    }
    &:hover {
      transform: translateY(-14px);
      box-shadow: $boxShadow2;
    }
  }
}
