// Utilities
@use 'utilities' as *;

// Header Area
@use 'header';

// Hero Area
@use 'hero';

// Skills Area
@use 'skills';

// About Area
@use 'about';

// Portofolio Area
@use 'portofolio';

// Clients Feedback
@use 'clientstestimonials';

// Contact form
@use 'contact';

// Footer form
@use 'footer';

// Responcive Area
@use 'responcive';
